<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title> Manage Departments -------</title>
    <link rel = "stylesheet" type = "text/css" th:href = "@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class = "container fluid text-center">
    <div><h2>----------------- Manage Departments -----------------</h2></div>
    <div class = "m-2">
        <a class = "h3" th:href = "@{/department/new}" style="font-size:2vw"> Add New Department </a>
    </div>

    <div th:if = "${message}" class = "alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class = "table table-bordered">
          <thead class = "thead-dark">
            <tr>
              <th> Department ID </th>
              <th> Department Code </th>
              <th> Department Name </th>
                <th> </th>
            </tr>
          </thead>
          <tbody>
          <th:block th:each = "department : ${listDepartment}">
              <tr>
                  <td> [[${department.departmentId}]] </td>
                  <td> [[${department.departmentCode}]] </td>
                  <td> [[${department.departmentName}]] </td>
                  <td>
                      <a class = "h4 mr-3" th:href = "@{'/department/edit/' + ${department.departmentId}}" style="font-size:1.5vw"> Edit</a>
                      <a class = "h4" th:href = "@{'/department/delete/' + ${department.departmentId}}" style="font-size:1.5vw"> Delete</a>
                  </td>
              </tr>
          </th:block>
          </tbody>
        </table>
    </div>

</div>
</body>
</html>