<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management System</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="container">
    <h1>Department Function</h1>
    <div id="employees"></div>
    <form id="itemForm">
        <input type="text" id="itemName" placeholder="Enter Department name" required>
        <!-- <input type="number" id="itemQuantity" placeholder="Enter item quantity" required> -->
        <input type="submit" value="Add Department">
    </form>
    <table id="itemTable">
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Action</th>
        </tr>
    </table>
</div>

<script src="./script.js"></script>

</body>
</html>
