<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title> Manage Employees ------- </title>
    <link rel = "stylesheet" type = "text/css" th:href = "@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class = "container fluid text-center">
    <div><h2>----------------- Manage Employees -----------------</h2></div>
    <div class = "m-2">
        <a class = "h3" th:href = "@{/employee/new}" style="font-size:2vw"> Add New Employee </a>
    </div>

    <div th:if = "${message}" class = "alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class = "table table-bordered">
            <thead class = "thead-dark">
                <tr>
                    <th style='width:10%'> ID </th>
                    <th style='width:10%'> Employee Code </th>
                    <th style='width:10%'> Employee Name </th>
                    <th style='width:10%'> Joining Date </th>
                    <th style='width:10%'> Department </th>
                    <th style='width:10%'> Position </th>
                    <th style='width:10%'> </th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each = "employee : ${listEmployee}">
                <tr>
                    <td> [[${employee.employeeId}]] </td>
                    <td> [[${employee.employeeCode}]] </td>
                    <td> [[${employee.employeeName}]] </td>
                    <td> [[${employee.joiningDate}]] </td>
                    <td> [[${employee.employeeDepartment}]] </td>
                    <td> [[${employee.employeePosition}]] </td>
                    <td>
                        <a class = "h4 mr-3" th:href = "@{'/employee/edit/' + ${employee.employeeId}}" style="font-size:1.5vw"> Edit</a>
                        <a class = "h4" th:href = "@{'/employee/delete/' + ${employee.employeeId}}" style="font-size:1.5vw"> Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>